@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Reset
---------------------------------*/
html, body {
    width: 100%;
    height: 100%;
}

body {
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

h1{

}

h2{
    color: #323843; 
    margin-top: 0px;
}

h3{

}

h4{

}

h5{
    font-size: 0.8em; 
    color: #df0031; 
    letter-spacing: 3px;
    font-weight: bolder;
    text-transform: uppercase;
}

.title{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #323843;
}

ul {
    list-style: none;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important;
}

/* Styles
---------------------------------*/






/* Header Styles
---------------------------------*/

header {
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 50px 0px 0px 0px;
    box-sizing: border-box;
    background: white;
}

header.headerAnimate {
    height: 65px;
    padding: 20px 0px;
    transition: .2s;    
}

.header_box {
    position: relative;
}

header .logo {
    float: left;
    position: absolute;
    z-index: 2;
}
header .logo img{
    width: 107px;
    margin: 0px 0px 0px 100px;
    transition: 0.3s;
}
header.headerAnimate .logo img{
    margin: 0px 0px 0px 0px;
    padding-left: 40px;
    transition: 0.4s;
}

.res-nav_click {
    display: none;
}
    

/* Nav Styles
---------------------------------*/
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    border: 0px solid #fff;
    min-height: 40px;
    margin-bottom: 0px;
    margin: 0px 100px 0px 0px;
    transition: 0.3s;
}

header.headerAnimate .navbar{
    margin: 0px 0px 0px 0px;
    transition: 0.4s;
}

.navbar-inverse .navbar-nav > li > a {
    color: #323843;
    font-size: 1.1em;
    font-weight: lighter;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

.navStyle {
    float: right;
}

.navStyle ul {
    list-style: none;
    padding: 0px;
}

.navStyle ul li {
    display: inline-block;
    margin: 0 5px;
}

.navStyle ul li:first-child {
}

.navStyle ul li:last-child {
    margin: 0 0 0 23px;
}

.navStyle ul li a {
    display: inline-block;
    font-size: 14px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    letter-spacing: 0.05em;
}

.navStyle ul li a:hover {
    color: #df0031;
}

.navStyle > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #df0031;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #df0031;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #df0031;
    background-color: transparent;
}

.navStyle > li.active > a,
.navStyle > li.active > a:hover {
    text-decoration: none;
    color: #df0031;
    background-color: transparent;
}

.borderLeft {
    border-left: 1px solid #DADADA;
}

.borderTop {
    margin-top: 30px;
    border-top: 1px solid #DADADA;
}

.mrgTop {
    margin-top: 30px;
}

/* Top_content
---------------------------------*/
.top_cont_outer {
    background: linear-gradient(to bottom, #df0031 0%, #880404 100%);
    position: relative;
}

.hero_section {
    position: relative;
    padding-top: 50px;
}

.white_pad {
    position: relative;
    right: 0px;
    bottom: 0px;
}

.top_left_cont {
    padding-top: 80px;
    padding-bottom: 33px;
}

.globe {
     position: absolute; 
     bottom: 0px; 
     right: 0px;
}

.site-name{
    color: white;
    font-size: 1em;
    text-shadow: 0 1px 0 #CCCCCC, 0 0 5px rgba(0,0,0,.1), 
                                  0 1px 3px rgba(0,0,0,.3), 
                                  0 3px 5px rgba(0,0,0,0), 
                                  0 5px 10px rgba(0,0,0,0), 
                                  0 10px 10px rgba(0,0,0,.2), 
                                  0 20px 20px rgba(0,0,0,.15), 
                                  2px 2px 2px rgba(206,89,55,0);
    font-weight: bolder; 
    text-align: center;
}

.top_left_cont h2 {
    font-size: 35px;
    color: #FFF;
    line-height: 52px;
    margin: 0 0 26px 0;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.top_left_cont h2 strong {
    font-weight: 700;
}

.top_left_cont p {
    font-size: 16px;
    color: #FFABAB;
    margin: 0 0 30px 0;
    line-height: 26px;
}

a.read_more2 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 16px;
    width: 178px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

a.read_more2:hover {
    background: #fff;
    color: #df0031;
    border: 1px solid #fff;
}

hr {
  background: linear-gradient(to bottom, white, #f0f0f0, white);
  height: 60px;
  width: 5px;
  margin-top: 20px;
}

#app{
    padding: 50px 0 30px;
    font-family: 'Varela Round', sans-serif;
}
.app_container {
    margin-left: 10%;
}

.app_container h2{
    color: #323843;
}

.top_right_cont img{
}


.top_right_cont p{
    font-family: 'Yeon Sung', cursive;
    color: #df0031;
    font-size: 1.6em;
    margin-left: 45%;
}

.app_benefits{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
}

.app_benefits_card {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
}

.app_benefits_info p{
    font-weight: normal;
    padding-left: 15px;
    font-size: 0.9em;
}

.app_benefits_info h4{
    font-weight: bolder;
    padding-left: 15px;
    font-size: 1.1em;
}

.app_benefits_card i {
    margin-top: 15px;
    color: white;
    font-size: 2.5em;
}

.btn {
    margin-top: 60px;
    margin-left: 20%;
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.playstore {
    border-color: #c9c9c9;
    color: white;
}

.playstore a{
    display: flex;
    text-align: left;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding-top: 3px;
}

.playstore .app-btn p{
    font-size: 0.7em;
    margin-bottom: 0px;
}

.playstore .fa-google-play{
   text-align: center;
   font-size: 30px;
   margin-right: 10px;
}

.playstore:hover {
  opacity: 0.9;
}

.fa-google-play {
   width: 20%;
   text-align: center;
   font-size: 28px;
  }

  .big-txt {
   font-size: 17px;
  }

.box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span{

    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid #df0031; 
    border-right: 1px solid #df0031;
    transform: rotate(45deg); 
    margin: -15px;
    animation: animate 2s infinite;
}

.box span:nth-child(2)
{
    animation-delay: -0.2s
}

.box span:nth-child(3)
{
    animation-delay: -0.4s
}


@keyframes animate{
    0%
    {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px); 

    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px); 
    }
}

#services {
    padding: 20px 0 20px;
    margin: 60px 0 10px;
    background-color: #f2f5f9;
    }

.nopadding {
   padding: 0 !important;
}

.nomargin {
   margin: 0 !important;
}


.service_card{
  margin-top: 30px;
  max-height: 460px;
}

.content-item .service_info{
  position: absolute;
  z-index: 1;
}
.content-item .pic {
  overflow:hidden;
  background-color: #000;
    height: 100%;
}
.content-item .pic img {
    height: 100%;
    width: 100%;
  transition: 900ms;
}
.content-item {
  position: relative;
}
.content-item:hover {
  cursor: pointer;
}
.content-item:hover .pic img {
  transform: scale(1.1);
  opacity: 0.5;
}

.service_info {
    margin: 30px;
    height: 100%;
}

.service_title{
    color: white;
    font-size: 1.1em;
    letter-spacing: 3px;
    font-weight: bolder;
    text-transform: uppercase;
}

.service_subtitle{
    color: white;
    font-size: 1.9em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-family: 'Open Sans',sans-serif;
}

.service_discription{
    color: white;
    font-family: 'Open Sans',sans-serif;
}

.service_info a{
    position: absolute;
    letter-spacing: 3px;
    bottom: 20;
    left: 0;
    right: 0;
    text-decoration: none;
}


.btnfos {
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 350px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.btnfos:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.btnfos-4 {
  border: 1px solid #fff;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.btnfos-4 span {
  z-index: 20;
}
.btnfos-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

.btnfos-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* AboutUs
---------------------------------*/
.inner_wrapper{
    /*padding: 30px 0 20px;*/
}

.aboutftdh{
    color: #2b2b2b;
}

.inner_section {
    padding: 0px 0 20px;
}

.work_bottom {
    cursor: pointer;
    padding: 20px 0 0 0px;
}

.work_bottom span {
    font-size: 18px;
    color: #333333;
    display: block;
    margin: 0 0 20px 0;
}

a.contact_btn {
    background: #fff;
    text-transform: uppercase;
    display: block;
    width: 176px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    color: #df0031;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 2px solid #df0031;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

a.contact_btn:hover {
    background: #df0031;
    color: #fff;
}

/* Subscriber
-----------------*/
#subscriber {
  width: 100%;
  margin: 30px 0 0px;
}

.card-wrap {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.card-wrap:focus, .card-wrap:active {
  outline: 0;
}

.card-wrap a {
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    color: #747b86;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 1px;
}

.flickity-viewport {
  height: 570px;
}

.subscriberCard {
    width: 100%;
    max-width: 350px;
    min-width: 350px;
    border-radius: 40px 40px 0 40px;
    box-shadow: 0 8px 16px 0 rgba(50, 56, 67, 0.05);
    position: relative;
    min-height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 1rem;
    padding: 20px;
    text-align: justify;
    text-decoration: none;
}

.subscriber_info{
    text-align: left;
    display: flex;
    padding-top: 20px;
}

.subscriber_img{
     width: 32px !important; 
     height: 32px !important;
}

.subscriber_name{
     font-size: 0.9em; 
     font-weight: bolder;
}

.subscriber_location{
     font-size: 0.7em;
     line-height: 0px;
}

a.subscriberCard:hover {
  cursor: -webkit-grab;
}
a.subscriberCard:focus, a.subscriberCard:active {
  cursor: -webkit-grabbing;
}


/* Contact
---------------------------------*/
.page_section.contact {
    padding: 90px 0 100px;
}
 
.contact_section {
    margin: 0 0 60px 0;
}

.contact_section h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}

.contact_block {
    text-align: center;
}

.contact_block_icon {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin: 0px auto 20px;
}

.contact_block_icon.icon2 {
    border-color: #df0031;
}

.contact_block_icon.icon3 {
    border-color: #49b5e7;
}

.contact_block_icon span {
    background: none repeat scroll 0 0 #f56eab;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.contact_block_icon.icon2 {
    border-color: #df0031;
}

.contact_block_icon.icon2 span {
    background: #df0031;
}

.contact_block_icon.icon3 {
    border-color: #49b5e7;
}

.contact_block_icon.icon3 span {
    background: #49b5e7;
}

.contact_block_icon i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: 26px;
    z-index: 20;
}

.contact_block span {
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

.contact_block span a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

.contact_info {
    font-size: 15px;
    padding-left: 0;
}

.contact_info  h3 {
    font-size: 16px;
    font-weight: 600;
    color: #615f5f;
}

.contact_info p {
    line-height: 28px;
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 30px;
}

.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 230px;
    resize: none;
    overflow: auto;
    
}

.input-btn {    
    width: 175px;
    height: 50px;
    letter-spacing: 0px;
    background: #df0031;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
    background: #fff;
    color: #222;
}

/* Footer
---------------------------------*/

.footer_wrapper {
    background: #232323;
}

.footer-nav{
    padding-left: 20px;
}

.footer-nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-nav ul li{
    float: left;
}

.footer-nav ul li a{
   display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer-nav ul li a:hover{
  color: #DF0031;
}

.footer_bottom {
    padding: 3.3rem 1.5rem 3rem;
    font-size: 1.5rem;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    color: #615f5f;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.footer_bottom span {
   margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.social_links {
    display: block;
}

.social_links a {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    transition: .2s;
}

.social_links a:hover {
    font-size: 30px;
}

.facebook:hover {
    color: #4064ad;
}

.messenger:hover {
    color: #01b2ff;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}


/*new_profolio*/



    
/* Portfolio */ 
    
.container.portfolio_title {
    padding-bottom: 0px;
}

#portfolio {
    padding: 60px 0 40px;
}



/* Portfolio Filters */ 

#filters {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    float: none;
    z-index: 2;
    position: relative;
}

#filters ul li {
    display: inline-block;
    margin: 0 5px;
}

#filters ul li a {
    display: block;
}

#filters ul li a h5 {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 4px;
    display: inline-block;
    
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    background: #fff;
    border: #C2C2C2 solid 1px;
    color: #7C7C7C;
}

#filters ul li a:hover h5, #filters ul li a.active h5 {
    background: #fff;
    color: #df0031;
    text-decoration: none;
    border: #df0031 solid 1px;
}

.section-title span {
    display: block;
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
}



/* Portfolio Items */   

#portfolio_wrapper {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    display: block;
}

#portfolio_wrapper .one-four {
    margin: 0!important;
    line-height: 0;
    width: 25%;
    padding: 0;
    position: relative;
}

.portfolio-item {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.portfolio-item .portfolio_img {
    overflow: hidden;
    display: block;
    position: relative;
}

.portfolio-item .portfolio_img img {
    width: 100%;
    height: auto;
}

.portfolio-item:hover .item_overlay {
    opacity: 1;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.item_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    cursor: pointer;
}

.open-project-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.item_overlay:hover {
    background: rgba(223, 0, 49, 0.7);
}

.item_info {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 50%;
    margin-top: -50px;
    text-align: center;
}

.project_name {
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    
    opacity: 0;
    font-size: 18px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    position: relative;
    z-index: 10;
}

.portfolio-item:hover .project_name {
    opacity: 1;
    -webkit-transition: opacity .1s .2s;
    -moz-transition: opacity .1s .2s;
    -ms-transition: opacity .1s .2s;
    -o-transition: opacity .1s .2s;
    transition: opacity .1s .2s;
}

.project_catg {
    font-size: 14px;
    color: #fff;
    opacity: 0;
    margin-top: 0px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.portfolio-item:hover .project_catg {
    opacity: 0.8;
    -webkit-transition: opacity .1s .2s;
    -moz-transition: opacity .1s .2s;
    -ms-transition: opacity .1s .2s;
    -o-transition: opacity .1s .2s;
    transition: opacity .1s .2s;
}

.zoom-icon {
    left: 50%;
    margin-left: -20px;
    position: inherit;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    opacity: 0;
    background: url(images/zoom.png);
    background-size: 40px 40px;
    transition: all 0.3s ease 0.1s;
    -moz-transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
}

.portfolio-item:hover .zoom-icon {
    opacity: 1;
    margin-top: 0px;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}
    
    
    
    
/* Portfolio Isotope Transitions */ 

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}



/* Portfolio Expander */    



#project_container {
    display: none;
    background-color: #FFF;
}

#project-page-button-fullscreen {
    height: auto;
    z-index: 100;
    position: absolute;
    right: 30px;
    top: 30px;
}

#project-page-button-fullscreen li {
    display: inline-block;
    font-size: 30px;
}

#project-page-button-fullscreen li a {
    background: url(images/close.png) no-repeat #fff;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
    opacity: 0.5;
}

#project-page-button-fullscreen li a:hover {
    opacity: 1;
}

#project-page-button {
    text-align: center;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    z-index: 100;
}

#project-page-button li {
    display: inline-block;
    margin: 60px 10px 0px 10px;
    font-size: 30px;
}

#project_data {
    margin-bottom: 0px;
}

.project-section-title {
    text-align: center;
    margin-bottom: 40px;
}

.project-section-title h1 {
    margin-bottom: 5px!important;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.project-page {
    background-color: #FFF;
    width: 100%;
    height: auto;
    left: 0;
    padding-bottom: 40px;
}

    
/* Portfolio*/  
    
    
.project-image-slider .bx-wrapper .bx-next {
    background: url("images/project_slider_right.png") no-repeat;
    background-size: 35px 65px;
    opacity: 0.3;
    right: -90px;
}

.project-image-slider .bx-wrapper .bx-prev {
    background: url("images/project_slider_left.png") no-repeat;
    background-size: 35px 65px;
    opacity: 0.3;
    left: -90px;
}

.project-image-slider .bx-wrapper .bx-next:hover, .project-image-slider .bx-wrapper .bx-prev:hover {
    opacity: 1;
    background-position: 0;
}

.project-image-slider .bx-wrapper .bx-controls-direction a {
    height: 65px;
    margin-top: -33px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 35px;
    z-index: 100;
}
    
/* Portfolio Normal Expander */     
    
.project-description {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.small-border {
    height: 2px;
    width: 50px;
    background-color: #ddd;
    margin-bottom: 15px;
}

.visit-project {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 55px 0 20px 0;
}

.project-description h5 {
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 5px;
}
    
    
    
/* Portfolio FullScreen Expander */         
    
#cycle-loader {
    height: 32px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 32px;
    z-index: 999;
}

#arrow_left {
    top: 50%;
    height: 60px;
    position: absolute;
    left: 30px;
    width: 32px;
    z-index: 1000;
    margin-top: -30px;
}

#arrow_right {
    top: 50%;
    height: 60px;
    position: absolute;
    right: 30px;
    width: 32px;
    z-index: 1000;
    margin-top: -30px;
}

#arrow_left:hover, #arrow_right:hover {
    margin-top: -28px;
}

#arrow_left:active, #arrow_right:active {
    margin-top: -28px;
}

div.mc-image {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.in-slide-content div.info-slide {
    background: #FFF url(images/info.png) no-repeat left bottom;
    background-size: 46px 46px;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 46px;
    height: 46px;
    margin: 0;
    display: block;
    text-indent: 10px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    cursor: pointer;
    z-index: 1000;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=0.5);
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.in-slide-content div.info-slide:hover {
    width: 200px;
    background: #FFF;
    position: absolute;
    bottom: 40px;
    padding: 10px 20px;
    text-indent: 0px;
    moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    z-index: 1000;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    opacity: 1;
}

.in-slide-content h2, .in-slide-content p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
}

.in-slide-content h2 {
    font-size: 14px;
    color: #444;
    text-shadow: none;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 1001;
    position: relative;
    white-space: nowrap;
}

.info-slide p {
    color: #aaa;
    font-size: 13px;
    text-shadow: none;
    z-index: 1001;
    position: relative;
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
}

.in-slide-content div.info-slide h2 {
    display: none;
    padding: 10px 10px 0 10px;
}

.in-slide-content div.info-slide p {
    display: none;
    padding: 0px 10px 10px 10px;
}

.in-slide-content div.info-slide:hover h2, .in-slide-content div.info-slide:hover p {
    display: inherit;
    padding: 0;
}

/*
   Media Queries
--------------------------- */
@media screen and (max-width: 768px) {

.container{
    width: 90%;
} 

.hero_section {
position: relative;
padding-top: 10px;
}
.top_left_cont {
padding: 38px 0;
}
.top_left_cont h2 {
font-size: 25px;
color: #FFF;
line-height: 39px;
margin: 0 0 9px 0;
}
.inner_section {
padding: 20px 0 20px;
}
#aboutUs img{
margin-bottom:20px;
}
#aboutUs h3{
font-size:16px;
line-height:22px;
}
.service_block h3 { 
font-size: 16px;
}

#filters ul{
padding-left:0px;
}
.form {
margin: 0 18px;
}
.page_section.team{
padding: 40px 0;
}
, #clients {
padding: 40px 0;
}
.client_logos ul li {
display: inline;
margin: 0 25px;
padding: 11px 0;
display: inline-block;
}
.social_links li {
float: left; 
}
.contact_section{
margin:0;
}
h2, .contact_section h2 {
font-size: 30px;
}
.page_section.contact {
padding: 60px 0 50px;
} 
.navbar-inverse .navbar-toggle .icon-bar{
background:#df0031;
}
.navbar-inverse .navbar-toggle {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
background:none;
outline: none;
}
.navStyle ul li {
display: block;
}
.navStyle {
float: right;
width: 100%;
text-align:center;
}
.navStyle ul li:last-child {
margin: 0px;
}
.navbar-inverse .navbar-nav > li > a {
color: #222;
background: #F9F9F9;
}
} 
@media (max-width: 480px){ 
.team_area {
width: 99%;
}
}